<?xml version="1.0"?>
<config>
    <modules>
        <Inic_Testimonial>
            <version>1.0.0.0</version>
        </Inic_Testimonial>
    </modules>
    <global>
        <models>
            <testimonial>
                <class>Inic_Testimonial_Model</class>
                <resourceModel>testimonial_mysql4</resourceModel>
            </testimonial>
            <testimonial_mysql4>
                <class>Inic_Testimonial_Model_Mysql4</class>
                <entities>
                    <testimonial>
                        <table>inic_testimonials</table>
                    </testimonial>
                </entities>
            </testimonial_mysql4>
        </models>
        <blocks>
            <testimonial>
                <class>Inic_Testimonial_Block</class>
            </testimonial>
        </blocks>
        <helpers>
            <testimonial>
                <class>Inic_Testimonial_Helper</class>
            </testimonial>
        </helpers>
        <resources>
            <testimonial_setup>
                <setup>
                    <module>Inic_Testimonial</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testimonial_setup>
            <testimonial_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonial_write>
            <testimonial_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonial_read>
        </resources>
        <template>
            <email>
                <testimonialsection_testisettings_email_template translate="label" module="testimonial">
                    <label>Testimonial Form</label>
                    <file>inic/testimonial_form.html</file>
                   <type>text</type>
                </testimonialsection_testisettings_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <inic_testimonial after="Mage_Adminhtml">Inic_Testimonial_Adminhtml</inic_testimonial>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <testimonial>
                    <file>inic/testimonial.xml</file>
                </testimonial>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <testimonial>
                <use>standard</use>
                <args>
                    <module>Inic_Testimonial</module>
                    <frontName>testimonials</frontName>
                </args>
            </testimonial>
        </routers>
        <layout>
            <updates>
                <testimonial>
                    <file>inic/testimonial.xml</file>
                </testimonial>
            </updates>
        </layout>
      </frontend>
       <default>
         <testimonialsection>
           <testisettings>
                 <title>Testimonials</title>
                 <active>1</active>
                 <activetesty>1</activetesty>
                 <adminapproval>1</adminapproval>
                 <enableguest>1</enableguest>
                 <testynumbers>10</testynumbers>
                 <enabletoplinks>1</enabletoplinks>
                 <footerlinks>1</footerlinks>
                 <recipient><![CDATA[hello@example.com]]></recipient>
           </testisettings>
            <showhideform>
                 <companyname>1</companyname>
                 <contactname>1</contactname>
                 <address>1</address>
                 <contactemail>1</contactemail>
                 <contactphoto>1</contactphoto>
                 <height>120</height>
                 <width>120</width>
           </showhideform>
            <testyblock>
                <featuredtestynumbers>5</featuredtestynumbers>
                <featuredtitle>Featured Testimonials</featuredtitle>
                <featured>1</featured>
                <layoutrighttype>1</layoutrighttype>
                <layoutlefttype>1</layoutlefttype>
            </testyblock>    
        </testimonialsection>
    </default>
</config>